<!doctype html>
<html lang="en">
  <head>
  </head>

  <body>

  
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Funda High School</h1>
          <p>This is a Funda High school website, to learn more about us click on the learn more button</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">About us &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="card-columns">
          <div class="card text-center" style="width: 19rem;">
              <div class="card-body">
                  <h2>User Registration</h2>
                  <p>First time users must register by clicking the register button below, so they can get login credentials  </p>
                  <p><a class="btn btn-secondary" [routerLink]="['/registration']" role="button">Register &raquo;</a></p>
            </div>
          </div><br><br>
          <div class="card text-center" style="width: 19rem;">
            <div class="card-body">
                <h2>User Login</h2>
                <p>if already register please click on the login button below </p>
                <p><a class="btn btn-secondary" [routerLink]="['/login']"  role="button" >Sign In &raquo;</a></p>   
             </div>         
        </div><br><br>
          <div class="card text-center" style="width: 19rem;">
              <div class="card-body">
                  <h2>Gallery</h2>
                  <p>To view the gallery please click on the gallery</p>
                  <p><a class="btn btn-secondary" href="#" role="button">View gallery &raquo;</a></p>
              </div>
          </div>

          
        </div>

        <hr>

      </div> <!-- /container -->

    </main>


    <div class="jumbotron">
       <div class="row">
        <div class="container">
          <div class="col-md-4">
          <p>About us</p> 
        </div>      
       </div>
      
       <div class="container">
          <div class="col-md-4">
             <p>Contact us</p>
        </div>      
       </div>
      </div>
    </div>
    <footer class="container">
      <p>&copy; funda 1985-2019</p>
    </footer> 
  </body>
</html>
